.flow-container {
    width: 100%;
    height: 100vh;
    background: #f4f6f8;
    position: relative;
  }
  
  /* Buttons */
  .top-actions {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 100;
  }
  
  .btn {
    padding: 10px 18px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .btn.run {
    background: #39393a;
    color: white;
  }
  
  .btn.save {
    background: #39393a;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.9;
  }
  
  /* Nodes */
  .node {
    width: 100px;
    background: #8e8e91;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  }
  
  .node h4 {
    margin: 0 0 8px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(230, 230, 243);
  }
  
  .input-node textarea {
    width: 80%;
    height: 90px;
    resize: none;
    border-radius: 6px;
    border: 1px solid rgb(87, 87, 87);
    padding: 8px;
    font-size: 13px;
  }
  
  .response-box {
    min-height: 90px;
    background: hsl(200, 12%, 95%);
    border-radius: 6px;
    padding: 8px;
    font-size: 13px;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  